.Post{
    background-color: #FFFFFF;
    border-radius: 1rem;
    margin: 20px;
}

.Post__Header{
    padding: 10px;
    padding-bottom: 0;
}

.Post__Text{
    padding: 10px;
    padding-top: 0px;
}

.Post__Text p{
    margin: 0;
}

.Post__Content img{
    width: 100%;
}

.Post__Buttons{
    display: flex;
    padding: 5px 10px;
    border-top: 1px solid #CED0D4;
    
}

.Post__Buttons > button{
    border: none;
    background-color: white;
    width: 100%;
    display: flex;
    cursor: pointer;
    justify-content: center;
    padding: 10px
}


.Post__Buttons > button > h3{
    margin: 0;
    color: #606770;
    padding-left: 5px;
}

.Post__Buttons > button:hover{
    background-color: #F2F2F2;
    border-radius: 0rem 0rem 1rem 1rem;
}

.Post__Button{
    font-size: 18px;
}