:root {
  --background: #F0F2F5;
  --header-background: #FFFFFF;
  --panel-link-hover: #E9EBEE;
}

html, body {
  min-width: 350px;
  background-color: var(--background);
}

.FacebookClone_MainPanel{
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.FacebookClone_MainPanel__Left{
  flex: 0.2;
  width: 100%;
}

.FacebookClone_MainPanel__Middle{
  flex: 0.6;
  width: 100%;
}

.FacebookClone_MainPanel__Right{
  flex: 0.2;
  width: 100%;
}
